In [81]:
import torch
from torch.utils.data import DataLoader
from torch import nn
import torch.optim as optim
import numpy as np
from sklearn.metrics import roc_auc_score, accuracy_score, matthews_corrcoef, recall_score, precision_score
from sklearn.metrics import confusion_matrix, f1_score, classification_report
from sklearn.metrics import roc_curve
import torch.nn.functional as F
import xgboost as xgb
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [38]:
train = pd.read_csv('/root/autodl-tmp/data/train.csv')
train_data = train.iloc[:, :-1]
train_label = train.iloc[:, -1]

test = pd.read_csv('/root/autodl-tmp/data/test.csv')
test_data = test.iloc[:, :-1]
test_label = test.iloc[:, -1]

In [83]:
loaded_datasets_info = torch.load('/root/autodl-tmp/data/saved_datasets.pth', weights_only=False)
train_dataset = loaded_datasets_info['train_dataset']
val_dataset = loaded_datasets_info['val_dataset']

In [85]:
from torch.utils.data import DataLoader

def extract_features_labels_from_subset(subset):
    
    loader = DataLoader(subset, batch_size=len(subset))
    
    for features, labels in loader:
        features = features.squeeze(1).numpy()
        labels = labels.squeeze(1).numpy()
        return features, labels

X_train_, y_train_ = extract_features_labels_from_subset(train_dataset)
X_val, y_val = extract_features_labels_from_subset(val_dataset)

In [50]:
X_train = train_data
y_train = train_label

In [78]:
type_dict = {'Graduate':0, 'Dropout':1, 'Enrolled':2}
y_train = y_train.map(type_dict)
y_train = np.eye(3)[y_train] # one-hot encoding

In [68]:
students=pd.read_csv("/root/autodl-tmp/data/train.csv")

In [86]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score, precision_score, recall_score, accuracy_score, f1_score, roc_curve

# Preprocess the categorical columns
label_encoder = LabelEncoder()
categorical_columns = [
    'Marital status', 'Application mode', 'Course', 'Daytime/evening attendance',
    'Previous qualification', 'Nacionality', "Mother's qualification", "Father's qualification",
    "Mother's occupation", "Father's occupation", 'Displaced', 'Educational special needs',
    'Debtor', 'Tuition fees up to date', 'Gender', 'Scholarship holder', 'International'
]
for column in categorical_columns:
    students[column] = label_encoder.fit_transform(students[column])

# Prepare the data
X = students.drop(columns=['Target'])
y = students['Target']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train = X_train_
y_train = y_train_

# Create a dictionary to store models
models = {
    'Random Forest': RandomForestClassifier(random_state=42),
    'Gradient Boosting': GradientBoostingClassifier(random_state=42),
    'SVM': SVC(probability=True, random_state=42),
    'Logistic Regression': LogisticRegression(random_state=42, multi_class='ovr')
}

# Evaluate each model
for model_name, model in models.items():
    model.fit(X_train, y_train)
    y_pred_proba = model.predict_proba(X_test)
    
    # Calculate evaluation metrics
    auc_roc = roc_auc_score(pd.get_dummies(y_test), y_pred_proba, multi_class='ovr', average='macro')
    y_pred = model.predict(X_test)
    precision = precision_score(y_test, y_pred, average='macro')
    recall = recall_score(y_test, y_pred, average='macro')
    accuracy = accuracy_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred, average='macro')
    
    # Plot ROC curve for each class (multi-class scenario)
    fpr, tpr, _ = roc_curve(pd.get_dummies(y_test).values.ravel(), y_pred_proba.ravel())
    plt.figure(figsize=(8, 6))
    plt.plot(fpr, tpr, label=f'{model_name} (AUC = {auc_roc:.2f})')
    plt.plot([0, 1], [0, 1], 'k--')
    plt.xlabel('False Positive Rate')
    plt.ylabel('True Positive Rate')
    plt.title(f'ROC Curve - {model_name}')
    plt.legend(loc='lower right')
    plt.show()
    
    # Display evaluation metrics
    print(f"\nModel: {model_name}")
    print(f"Precision: {precision:.2f}")
    print(f"Recall: {recall:.2f}")
    print(f"Accuracy: {accuracy:.2f}")
    print(f"F1 Score: {f1:.2f}")

/root/miniconda3/envs/SWEdiff/lib/python3.9/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

ValueError: X has 35 features, but RandomForestClassifier is expecting 33 features as input.

In [80]:
y_pred_proba

array([[1.00000000e+000, 3.56605112e-024, 6.26382289e-093],
       [1.00000000e+000, 9.83430740e-028, 2.67202464e-131],
       [1.00000000e+000, 1.13428459e-010, 5.34413638e-032],
       ...,
       [1.00000000e+000, 2.64974684e-010, 6.85782901e-061],
       [9.99971369e-001, 2.86305052e-005, 4.14472278e-021],
       [1.00000000e+000, 5.41441445e-022, 9.99718628e-081]])

In [60]:
X

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,0,7,5,1,1,0,0,12,9,5,...,0,0,0,0,0,0.000000,0,10.8,1.4,1.74
1,0,5,1,10,1,0,0,0,2,3,...,0,0,6,6,6,13.666667,0,13.9,-0.3,0.79
2,0,0,5,4,1,0,0,21,26,9,...,0,0,6,0,0,0.000000,0,10.8,1.4,1.74
3,0,7,2,14,1,0,0,22,26,5,...,0,0,6,10,5,12.400000,0,9.4,-0.8,-3.12
4,1,11,1,2,0,0,0,21,27,9,...,0,0,6,6,6,13.000000,0,13.9,-0.3,0.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,0,0,6,14,1,0,0,0,0,5,...,0,0,6,8,5,12.666667,0,15.5,2.8,-4.06
4420,0,0,2,14,1,0,18,0,0,9,...,0,0,6,6,2,11.000000,0,11.1,0.6,2.02
4421,0,0,1,11,1,0,0,21,26,9,...,0,0,8,9,1,13.500000,0,13.9,-0.3,0.79
4422,0,0,1,8,1,0,0,21,26,7,...,0,0,5,6,5,12.000000,0,9.4,-0.8,-3.12
4423,0,4,1,14,1,0,8,22,26,5,...,0,0,6,6,6,13.000000,0,12.7,3.7,-1.70

In [62]:
students

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,7,5,1,1,0,0,12,9,5,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,0,5,1,10,1,0,0,0,2,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,0,0,5,4,1,0,0,21,26,9,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,0,7,2,14,1,0,0,22,26,5,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,1,11,1,2,0,0,0,21,27,9,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,0,0,6,14,1,0,0,0,0,5,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,Graduate
4420,0,0,2,14,1,0,18,0,0,9,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,Dropout
4421,0,0,1,11,1,0,0,21,26,9,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,Dropout
4422,0,0,1,8,1,0,0,21,26,7,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,Graduate
4423,0,4,1,14,1,0,8,22,26,5,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,Graduate

In [64]:
y_train

3383     Dropout
2840    Enrolled
564     Graduate
1786     Dropout
3900    Graduate
          ...
3444     Dropout
466     Enrolled
3092    Graduate
3772    Graduate
860      Dropout
Name: Target, Length: 3539, dtype: object

In [65]:
pd.get_dummies(y_test)

      Dropout  Enrolled  Graduate
1255     True     False     False
3458    False     False      True
3390    False     False      True
1497    False     False      True
1536     True     False     False
...       ...       ...       ...
3162    False     False      True
3281     True     False     False
436     False      True     False
1434    False      True     False
1361    False     False      True

[885 rows x 3 columns]

In [66]:
y_test

1255     Dropout
3458    Graduate
3390    Graduate
1497    Graduate
1536     Dropout
          ...
3162    Graduate
3281     Dropout
436     Enrolled
1434    Enrolled
1361    Graduate
Name: Target, Length: 885, dtype: object

In [67]:
y_pred_proba

array([[0.52319029, 0.47266213, 0.00414758],
       [0.06468631, 0.19546418, 0.73984951],
       [0.04539407, 0.04290217, 0.91170376],
       ...,
       [0.05339354, 0.10433197, 0.84227449],
       [0.04515489, 0.16873776, 0.78610735],
       [0.03538253, 0.04101868, 0.92359878]])

In [29]:
####

In [52]:
# get roc_auc, metrics_sn, metrics_sp, metrics_ACC, metrics_F1, metrics_MCC
def calculate_multiclass_metrics(true_labels, predicted_labels, predicted_probabilities, num_classes):
    accuracy = accuracy_score(true_labels, predicted_labels)
    mcc = matthews_corrcoef(true_labels, predicted_labels)
    
    sensitivity_per_class = []
    specificity_per_class = []
    auc_per_class = []
    f1_per_class = []

    for i in range(num_classes):
        true_binary = (np.array(true_labels) == i).astype(int)
        pred_binary = (np.array(predicted_labels) == i).astype(int)

        cm = confusion_matrix(true_binary, pred_binary, labels=[0, 1])
        tn, fp, fn, tp = cm.ravel()

        sensitivity = tp / (tp + fn) if (tp + fn) > 0 else 0
        specificity = tn / (tn + fp) if (tn + fp) > 0 else 0
        sensitivity_per_class.append(sensitivity)
        specificity_per_class.append(specificity)

        
        auc = roc_auc_score(true_binary, predicted_probabilities[:, i]) if len(np.unique(true_binary)) > 1 else 0
        auc_per_class.append(auc)

        f1 = f1_score(true_binary, pred_binary) if len(np.unique(true_binary)) > 1 else 0
        f1_per_class.append(f1)

    avg_sensitivity = np.mean(sensitivity_per_class)
    avg_specificity = np.mean(specificity_per_class)
    avg_auc = np.mean(auc_per_class) if auc_per_class else 0
    avg_f1 = np.mean(f1_per_class)

    print(f"Average AUC: {avg_auc:.4f}")
    print(f"Average Sensitivity: {avg_sensitivity:.4f}")
    print(f"Average Specificity: {avg_specificity:.4f}")
    print(f"Accuracy: {accuracy:.4f}")
    print(f"Average F1-score: {avg_f1:.4f}")
    print(f"Matthews Correlation Coefficient (MCC): {mcc:.4f}")

#### 1. XGB

In [79]:
xgb_model = GradientBoostingClassifier(random_state=42)

xgb_model.fit(X_train, y_train)

ValueError: y should be a 1d array, got an array of shape (2831, 3) instead.

In [54]:
y_pred = xgb_model.predict(X_train)

In [55]:
y_pred

array(['Graduate', 'Dropout', 'Graduate', ..., 'Enrolled', 'Graduate',
       'Graduate'], dtype=object)

In [56]:
true_labels_ = np.argmax(y_train, axis=-1)
predicted_labels = np.argmax(y_pred, axis=-1)
preds = torch.tensor(y_pred)
preds = F.softmax(preds, dim=-1)

train_metrics = calculate_multiclass_metrics(true_labels_, predicted_labels, preds, num_classes=10)

TypeError: can't convert np.ndarray of type numpy.object_. The only supported types are: float64, float32, float16, complex64, complex128, int64, int32, int16, int8, uint64, uint32, uint16, uint8, and bool.

In [48]:
size = 8
class Net_conv(torch.nn.Module):
    def __init__(self, input_length):
        super(Net_conv, self).__init__()
        self.block_1 = torch.nn.Sequential(
            torch.nn.Conv1d(in_channels=1,
                            out_channels=size,
                            kernel_size=1,
                            stride=1,
                            padding=0),
            torch.nn.BatchNorm1d(size),
            torch.nn.ReLU(inplace=True),
            torch.nn.Conv1d(in_channels=size,
                                out_channels=2*size,
                                kernel_size=3,
                                stride=1,
                                padding=1),
            torch.nn.BatchNorm1d(2*size)
        )
        self.block_2 = torch.nn.Sequential(
            torch.nn.Conv1d(in_channels=2*size,
                            out_channels=4*size,
                            kernel_size=1,
                            stride=1,
                            padding=0),
            torch.nn.BatchNorm1d(4*size),
            torch.nn.ReLU(inplace=True),
            torch.nn.Conv1d(in_channels=4*size,
                                out_channels=2*size,
                                kernel_size=3, 
                                stride=1,
                                padding=1),
            torch.nn.BatchNorm1d(2*size)
        )
        iutput_size_block_1 = (input_length - 1 + 2 * 0) // 1 + 1  
        output_size_block_2 = (iutput_size_block_1 - 1 + 2 * 0) // 1 + 1  
        num_channels_last_layer = 2*size 
        linear_input_size = num_channels_last_layer * output_size_block_2    
        self.linear_1 = torch.nn.Linear(linear_input_size, 3)
    
    def forward(self, x):
        shortcut = x.float()
        x = self.block_1(x)
        x = torch.nn.functional.relu(x + shortcut)    
        shortcut = x
        x = self.block_2(x)
        x = torch.nn.functional.relu(x + shortcut)     
        x = x.view(x.size(0), -1)
        x =  self.linear_1(x)
        return x

In [72]:
device = "cuda"
model = Net_conv(input_length = 25).to(device)
optimizer = torch.optim.Adam(model.parameters(), lr=0.001)  
criterion = nn.CrossEntropyLoss().to(device)
num_epochs = 200

In [73]:
for epoch in range(num_epochs):
    model.train()
    running_loss = 0.0
    for batch_indx, (inputs, labels) in enumerate(loaded_train_dataset):
        inputs = inputs.to(device)
        labels = labels.to(device)
        
        optimizer.zero_grad()
        outputs = model(inputs)
        loss = criterion(outputs, labels)
        loss.backward()
        optimizer.step()
        
        running_loss += loss.item()
        
    # Print average loss for the epoch
    print(f"Epoch {epoch+1}/{num_epochs}, Loss: {running_loss / (len(loaded_train_dataset) / batch_size)}")

Epoch 1/200, Loss: 80.63170161358146
Epoch 2/200, Loss: 64.77978049322617
Epoch 3/200, Loss: 61.21438658514688
Epoch 4/200, Loss: 59.43782807782639
Epoch 5/200, Loss: 58.19146563840467
Epoch 6/200, Loss: 57.18301229698714
Epoch 7/200, Loss: 56.325253705645714
Epoch 8/200, Loss: 55.53791980410731
Epoch 9/200, Loss: 54.828122396801795
Epoch 10/200, Loss: 54.153942645982255
Epoch 11/200, Loss: 53.495988665625106
Epoch 12/200, Loss: 52.938870843066724
Epoch 13/200, Loss: 52.33762458313343
Epoch 14/200, Loss: 51.72577770643456
Epoch 15/200, Loss: 51.183014969493065
Epoch 16/200, Loss: 50.726692967636644
Epoch 17/200, Loss: 50.23341546224994
Epoch 18/200, Loss: 49.84944462776184
Epoch 19/200, Loss: 49.33554807374644
Epoch 20/200, Loss: 48.867357539576155
Epoch 21/200, Loss: 48.41254596100297
Epoch 22/200, Loss: 47.99883400284967
Epoch 23/200, Loss: 47.543328584626664
Epoch 24/200, Loss: 47.11311237756596
Epoch 25/200, Loss: 46.62824224594028
Epoch 26/200, Loss: 46.30114692588185
Epoch 27/200, Loss: 45.848963565604635
Epoch 28/200, Loss: 45.51492284896762
Epoch 29/200, Loss: 45.15731064386146
Epoch 30/200, Loss: 44.798772348914035
Epoch 31/200, Loss: 44.43349886772245
Epoch 32/200, Loss: 44.133050566495854
Epoch 33/200, Loss: 43.80057322424511
Epoch 34/200, Loss: 43.478515466978386
Epoch 35/200, Loss: 43.20712747961976
Epoch 36/200, Loss: 42.88952717947406
Epoch 37/200, Loss: 42.60569637597993
Epoch 38/200, Loss: 42.2388062227604
Epoch 39/200, Loss: 41.992997014245326
Epoch 40/200, Loss: 41.58937626106795
Epoch 41/200, Loss: 41.435928746711376
Epoch 42/200, Loss: 41.24713110369305
Epoch 43/200, Loss: 41.02569828892863
Epoch 44/200, Loss: 40.65431283656941
Epoch 45/200, Loss: 40.22509705188663
Epoch 46/200, Loss: 40.084292202494865
Epoch 47/200, Loss: 39.72020225469456
Epoch 48/200, Loss: 39.292092032210775
Epoch 49/200, Loss: 38.82576085107271
Epoch 50/200, Loss: 38.69297525217367
Epoch 51/200, Loss: 38.40456282676652
Epoch 52/200, Loss: 38.28342428734136
Epoch 53/200, Loss: 38.08922469615936
Epoch 54/200, Loss: 37.951344494209735
Epoch 55/200, Loss: 37.703325408835745
Epoch 56/200, Loss: 37.60140115438506
Epoch 57/200, Loss: 37.41464843583662
Epoch 58/200, Loss: 37.33518764723179
Epoch 59/200, Loss: 37.1511276378188
Epoch 60/200, Loss: 37.10840306309767
Epoch 61/200, Loss: 37.02190587686938
Epoch 62/200, Loss: 36.69266302225202
Epoch 63/200, Loss: 36.37175781782283
Epoch 64/200, Loss: 35.952309189840804
Epoch 65/200, Loss: 35.85868470890578
Epoch 66/200, Loss: 35.48462796349858
Epoch 67/200, Loss: 35.09127781834713
Epoch 68/200, Loss: 34.87890106300975
Epoch 69/200, Loss: 34.55662834782933
Epoch 70/200, Loss: 34.422112446884775
Epoch 71/200, Loss: 34.26656927480254
Epoch 72/200, Loss: 34.21902912993764
Epoch 73/200, Loss: 34.08555904793185
Epoch 74/200, Loss: 34.05932780615119
Epoch 75/200, Loss: 33.75398516654968
Epoch 76/200, Loss: 33.44708750414294
Epoch 77/200, Loss: 33.057481431683826
Epoch 78/200, Loss: 32.807022298491276
Epoch 79/200, Loss: 32.53294420103694
Epoch 80/200, Loss: 32.411657031192334
Epoch 81/200, Loss: 32.2777223101882
Epoch 82/200, Loss: 32.135997989843055
Epoch 83/200, Loss: 32.02700590671495
Epoch 84/200, Loss: 31.877697068591452
Epoch 85/200, Loss: 31.90043533957282
Epoch 86/200, Loss: 31.882491846417274
Epoch 87/200, Loss: 32.17723972575609
Epoch 88/200, Loss: 31.85388466646505
Epoch 89/200, Loss: 31.693771585475567
Epoch 90/200, Loss: 31.38454684684443
Epoch 91/200, Loss: 31.0480025965114
Epoch 92/200, Loss: 30.61090382032616
Epoch 93/200, Loss: 30.171369258747546
Epoch 94/200, Loss: 29.951079501662143
Epoch 95/200, Loss: 29.817457809004672
Epoch 96/200, Loss: 29.520684549974842
Epoch 97/200, Loss: 29.395615604034692
Epoch 98/200, Loss: 29.09471479266189
Epoch 99/200, Loss: 28.997442334197288
Epoch 100/200, Loss: 28.729031356268152
Epoch 101/200, Loss: 28.567474907220795
Epoch 102/200, Loss: 28.378932767136153
Epoch 103/200, Loss: 28.12012357767238
Epoch 104/200, Loss: 27.97824289909629
Epoch 105/200, Loss: 27.735772001188856
Epoch 106/200, Loss: 27.614009484302166
Epoch 107/200, Loss: 27.41352009565331
Epoch 108/200, Loss: 27.28991929528325
Epoch 109/200, Loss: 27.098069443952205
Epoch 110/200, Loss: 27.048942065516183
Epoch 111/200, Loss: 27.00903524839601
Epoch 112/200, Loss: 26.975357082001
Epoch 113/200, Loss: 26.965249728324803
Epoch 114/200, Loss: 26.932832113532132
Epoch 115/200, Loss: 26.74920351006264
Epoch 116/200, Loss: 26.512734869191814
Epoch 117/200, Loss: 26.11675309233887
Epoch 118/200, Loss: 25.966126645027206
Epoch 119/200, Loss: 25.812696630871574
Epoch 120/200, Loss: 25.488104134104972
Epoch 121/200, Loss: 25.319323290226073
Epoch 122/200, Loss: 25.09652625682742
Epoch 123/200, Loss: 25.009316067362942
Epoch 124/200, Loss: 24.966201602026473
Epoch 125/200, Loss: 24.977599465569785
Epoch 126/200, Loss: 24.95602840601012
Epoch 127/200, Loss: 24.975899641596992
Epoch 128/200, Loss: 24.82065454471943
Epoch 129/200, Loss: 24.844751281793727
Epoch 130/200, Loss: 24.920815645262252
Epoch 131/200, Loss: 24.550588896801305
Epoch 132/200, Loss: 24.377005477977352
Epoch 133/200, Loss: 24.31252659406773
Epoch 134/200, Loss: 24.171733994816627
Epoch 135/200, Loss: 24.33181607792544
Epoch 136/200, Loss: 24.248095723085626
Epoch 137/200, Loss: 24.05859406950862
Epoch 138/200, Loss: 23.725415506335192
Epoch 139/200, Loss: 23.55137119113013
Epoch 140/200, Loss: 23.458333088215007
Epoch 141/200, Loss: 23.51825192224148
Epoch 142/200, Loss: 23.510743209788966
Epoch 143/200, Loss: 23.442622066237206
Epoch 144/200, Loss: 23.35359052170155
Epoch 145/200, Loss: 23.518989217835802
Epoch 146/200, Loss: 23.721519926952762
Epoch 147/200, Loss: 23.71786004582117
Epoch 148/200, Loss: 23.946122132068457
Epoch 149/200, Loss: 23.592884266792343
Epoch 150/200, Loss: 23.86958061955696
Epoch 151/200, Loss: 23.787434762993524
Epoch 152/200, Loss: 23.827412429937098
Epoch 153/200, Loss: 23.79371707522592
Epoch 154/200, Loss: 24.104880801467008
Epoch 155/200, Loss: 23.660949617624283
Epoch 156/200, Loss: 23.656467157740927
Epoch 157/200, Loss: 23.299031219510145
Epoch 158/200, Loss: 22.94120232379714
Epoch 159/200, Loss: 22.560811926459156
Epoch 160/200, Loss: 22.259626173695853
Epoch 161/200, Loss: 21.939306879459426
Epoch 162/200, Loss: 21.4368752961935
Epoch 163/200, Loss: 21.192537490711658
Epoch 164/200, Loss: 20.92408004195191
Epoch 165/200, Loss: 20.68812008513961
Epoch 166/200, Loss: 21.007671657689784
Epoch 167/200, Loss: 20.844722175320914
Epoch 168/200, Loss: 21.12082828615987
Epoch 169/200, Loss: 20.542228447143422
Epoch 170/200, Loss: 19.823451877333397
Epoch 171/200, Loss: 19.48012647240661
Epoch 172/200, Loss: 19.235449093718863
Epoch 173/200, Loss: 18.98121547906898
Epoch 174/200, Loss: 18.839266515055368
Epoch 175/200, Loss: 19.041462086660918
Epoch 176/200, Loss: 18.831580383486525
Epoch 177/200, Loss: 18.61284664550493
Epoch 178/200, Loss: 18.214426605507384
Epoch 179/200, Loss: 17.966242013282553
Epoch 180/200, Loss: 18.000127894933833
Epoch 181/200, Loss: 17.819726848325065
Epoch 182/200, Loss: 17.937153430525647
Epoch 183/200, Loss: 18.796117031990097
Epoch 184/200, Loss: 18.619267893738524
Epoch 185/200, Loss: 18.127275942716487
Epoch 186/200, Loss: 17.755345748954042
Epoch 187/200, Loss: 17.208250447414642
Epoch 188/200, Loss: 16.971580025761625
Epoch 189/200, Loss: 16.891487609854966
Epoch 190/200, Loss: 16.732316490176114
Epoch 191/200, Loss: 16.75863898424215
Epoch 192/200, Loss: 16.650430979423746
Epoch 193/200, Loss: 16.369438595896543
Epoch 194/200, Loss: 16.240087835941203
Epoch 195/200, Loss: 16.002466053117153
Epoch 196/200, Loss: 15.960211731320204
Epoch 197/200, Loss: 15.814087176045707
Epoch 198/200, Loss: 15.676069996038148
Epoch 199/200, Loss: 15.39662945582423
Epoch 200/200, Loss: 15.34376741321974

In [74]:
torch.save(model.state_dict(), '/root/autodl-tmp/model_params/CNN.pth')

In [75]:
model.load_state_dict(torch.load('/root/autodl-tmp/model_params/CNN.pth', weights_only=False))

### Metrics function definition

In [76]:
# get roc_auc, metrics_sn, metrics_sp, metrics_ACC, metrics_F1, metrics_MCC
def calculate_multiclass_metrics(true_labels, predicted_labels, predicted_probabilities, num_classes):
    accuracy = accuracy_score(true_labels, predicted_labels)
    mcc = matthews_corrcoef(true_labels, predicted_labels)
    
    sensitivity_per_class = []
    specificity_per_class = []
    auc_per_class = []
    f1_per_class = []

    for i in range(num_classes):
        true_binary = (np.array(true_labels) == i).astype(int)
        pred_binary = (np.array(predicted_labels) == i).astype(int)

        cm = confusion_matrix(true_binary, pred_binary, labels=[0, 1])
        tn, fp, fn, tp = cm.ravel()

        sensitivity = tp / (tp + fn) if (tp + fn) > 0 else 0
        specificity = tn / (tn + fp) if (tn + fp) > 0 else 0
        sensitivity_per_class.append(sensitivity)
        specificity_per_class.append(specificity)

        
        auc = roc_auc_score(true_binary, predicted_probabilities[:, i]) if len(np.unique(true_binary)) > 1 else 0
        auc_per_class.append(auc)

        f1 = f1_score(true_binary, pred_binary) if len(np.unique(true_binary)) > 1 else 0
        f1_per_class.append(f1)

    avg_sensitivity = np.mean(sensitivity_per_class)
    avg_specificity = np.mean(specificity_per_class)
    avg_auc = np.mean(auc_per_class) if auc_per_class else 0
    avg_f1 = np.mean(f1_per_class)

    print(f"Average AUC: {avg_auc:.4f}")
    print(f"Average Sensitivity: {avg_sensitivity:.4f}")
    print(f"Average Specificity: {avg_specificity:.4f}")
    print(f"Accuracy: {accuracy:.4f}")
    print(f"Average F1-score: {avg_f1:.4f}")
    print(f"Matthews Correlation Coefficient (MCC): {mcc:.4f}")

### Training data metrics

In [77]:
predicted_probabilities = []
true_labels = []
with torch.set_grad_enabled(False):
    for batch_indx, (inputs, labels) in enumerate(loaded_train_dataset):
        inputs = inputs.to(device)
        labels = labels.to(device)      
        outputs = model(inputs)
        predicted_probabilities.extend(outputs.tolist())
        true_labels.extend(labels.tolist())

In [78]:
true_labels_ = np.argmax(true_labels, axis=-1)
predicted_labels = np.argmax(predicted_probabilities, axis=-1)
preds = torch.tensor(predicted_probabilities)
preds = F.softmax(preds, dim=-1)

train_metrics = calculate_multiclass_metrics(true_labels_, predicted_labels, preds, num_classes=10)

Average AUC: 0.2980
Average Sensitivity: 0.2789
Average Specificity: 0.9895
Accuracy: 0.9297
Average F1-score: 0.2790
Matthews Correlation Coefficient (MCC): 0.8960

In [79]:
np.save('/root/autodl-tmp/ROC/CNN/y_train_pred.npy', preds)
np.save('/root/autodl-tmp/ROC/CNN/y_train.npy', true_labels)

### Validation data metrics

In [80]:
predicted_probabilities = []  
true_labels = []  
with torch.set_grad_enabled(False): 
    for batch_indx, (inputs, labels) in enumerate(loaded_val_dataset):
        inputs = inputs.to(device)
        labels = labels.to(device)    
        outputs = model(inputs)
        predicted_probabilities.extend(outputs.tolist())
        true_labels.extend(labels.tolist())

In [81]:
true_labels_ = np.argmax(true_labels, axis=-1)
predicted_labels = np.argmax(predicted_probabilities, axis=-1)
preds = torch.tensor(predicted_probabilities)
preds = F.softmax(preds, dim=-1)

test_metrics = calculate_multiclass_metrics(true_labels_, predicted_labels, preds, num_classes=10)

Average AUC: 0.2698
Average Sensitivity: 0.2209
Average Specificity: 0.9605
Accuracy: 0.7366
Average F1-score: 0.2212
Matthews Correlation Coefficient (MCC): 0.6083

In [82]:
np.save('/root/autodl-tmp/ROC/CNN/y_val_pred.npy', preds)
np.save('/root/autodl-tmp/ROC/CNN/y_val.npy', true_labels)